<% for(it of posts_list) { %>
    <li id = "<%=it._id%>"> 
        <div>
            <div>
                <%= it.content%>
                <%if(locals.user && locals.user.id == it.user.id){ %>
                <a class="delete-post" href="posts/destroy?id=<%= it._id %>">
                    <span><i class="fas fa-times"></i></span>
                </a>
                <br>
                <%}%>   
                <div id="<%=it._id%>" class="post-like">Y</div>
                <span class="post-like-count"><%= it.likes.length %></span><span> Likes</span> 
            </div>

            <div>
            -<%= it.user.name%>
            </div>

        </div>

        <%if(locals.user){%>
            <form action="/comments/create-comment" class="new-comment-form" method="POST">
                <input type="text" name="content" placeholder="Care to comment?" required>
                <input type="hidden" name="post" value="<%=it._id%>">
                <button type="submit">
                    Comment
                </button>
            </form>
        <%}%>

        <ul id="comment-list">
            <%- include('_comment'); -%>
        </ul>
    </li>
<%}%>
    