<link rel="stylesheet" href="/css/home.css">

<h1>Codeial / <%=title %></h1>

<% if(locals.user){ %>
    <p> Logged in : <%=user.name%></p>
<%} else {%>
    <p><a href="users/sign-in">Sign In</a> </p>
<%}%>


<section>
    <h4>
        Posts
    </h4>
    <%if(locals.user){%>
        <form action="/posts/create-post" id="new-post-form" method="POST">
            <textarea name="content" 
            cols="30" rows="3" placeholder="Whats on your mind?" required></textarea>
            <button type="submit">
            Post
            </button>
        </form>
    <%}%>
</section>

<section>
    <h2> Wall :</h2>
    <ul id="post-list">
        <%- include("_post"); -%>
    </ul>
</section>

<section>
    <h2> All users : </h2>
    <ul>
        <% for(user of all_users) { %>
            <li>
               <a href="users/profile?id=<%= user._id%>"> <%= user.name %> </a>
            </li>        
        <% } %>
    </ul>
</section>

<%if(locals.user){%>
    <section>
        <h2> followers : </h2>
        <%if(followers.length==0){%>
            <h4>None followers</h4>
        <%}%>
        <ul>
            <% for(it of followers) { %>
                <li>
                    <a href="users/profile?id=<%= it._id%>"> <%= it.name %> </a>
                </li>        
            <% } %>
        </ul>
    </section>

    <section>
        <h2> following : </h2>
        <%if(following.length==0){%>
            <h4>None following</h4>
        <%}%>
        <ul>
            <% for(it of following) { %>
                <li>
                    <a href="users/profile?id=<%= it._id%>"> <%= it.name %> </a>
                </li>        
            <% } %>
        </ul>
    </section>
<%}%>

<script src="https://kit.fontawesome.com/c2e4f2d141.js" crossorigin="anonymous"></script>
<script src="/js/home.js"></script>